<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{{title}} &mdash; 360Player</title>
		<style type="text/css">
			:root {
				--primary-color: {{primaryColor}};
				--secondary-color: {{secondaryColor}};
			}

			body, html {
				height: 100%;
			}

			*, * {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}

			header {
				background: linear-gradient( 155deg, #dee2e8 50%, #fff 100%);
				overflow: hidden;
				height: 100%;
				position: relative;
				border-top: var(--primary-color) 10px solid;
			}

			header:before {
				content: '';
				display: block;
				position: absolute;
				left: -50vw;
				top: -50vw;
				width: 100vw;
				height: 100vw;
				background: linear-gradient( 155deg, #dee2e8 50%, #fff 100%);
				transform: rotate(45deg);
			}

			article {
				position: relative;
				z-index: 1000;
				width: 100%;
				height: 100%;
				overflow-y: auto;
				text-align: center;
				display: block;
			}

			article svg {
				margin: 50px auto;
				width: 80%;
				max-width: 320px;
				display: block;
				opacity: 0;
				animation-name: appear;
				animation-duration: 1s;
				animation-fill-mode: forwards;
				animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
				animation-delay: 350ms;
				-webkit-filter: drop-shadow( var(--primary-color) 0 5px 20px );
				filter: drop-shadow( var(--primary-color) 0 5px 20px );
			}

			@keyframes appear {
				0% {
					opacity: 0;
					transform: scale( .75 );
				}
				100% {
					opacity: 1;
					transform: scale( 1 );
				}
			}

			@keyframes appear-text {
				100% {
					opacity: 1;
				}
			}

			h1, h3, p {
				margin-bottom: 25px;
				font: 300 32px "Roboto Mono", monospace;
				opacity: 0;
				animation-name: appear-text;
				animation-duration: 500ms;
				animation-fill-mode: forwards;
				animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
				animation-delay: 1s;
			}

			h1 {
				color: var(--primary-color);
			}

			h1 var {
				padding: 2px 6px 3px 6px;
				background: #fff;
				color: #263238;
				font-size: 11px;
				font-weight: 500;
				font-style: normal;
				vertical-align: super;
				border-radius: 3px;
				box-shadow: #ccc 0 5px 20px;
			}

			h3, p {
				font-weight: 400;
				font-size: 16px;
				color: #333;
			}

			p a {
				margin: 0 10px;
				margin-top: 15px;
				padding: 10px 25px;
				padding-bottom: 12px;
				border-radius: 1000px;
				background: var(--primary-color);
				display: inline-block;
				text-decoration: none;
				font-size: 14px;
				font-weight: 400;
				color: var(--secondary-color);
				position: relative;
				top: 0;
				transition:
					top 250ms ease-in-out,
					color 250ms ease-in-out,
					box-shadow 250ms ease-in-out;
			}

			p a.follow {
				margin-top: 50px;
				padding: 15px 30px;
				font-size: 16px;
				background: #fff;
				box-shadow: none;
				color: var(--primary-color);
			}

			p a:hover {
				top: -1px;
				color: #fff;
				box-shadow: var(--primary-color) 0 5px 20px;
			}

			p a.follow:hover {
				color: #000;
				box-shadow: #ccc 0 5px 20px;
			}

			code {
				margin-top: 20px;
				padding: 20px 25px;
				background: #263238;
				display: inline-block;
				border-radius: 3px;
				font: 300 16px "Roboto Mono", monospace;
				opacity: 0;
				animation-name: appear;
				animation-duration: 1s;
				animation-fill-mode: forwards;
				animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
				animation-delay: 1s;
			}

			code var {
				font-style: normal;
				color: #2196F3;
			}

			code span.flags {
				color: #546E7A;
			}

			code span.command {
				color: #00BCD4;
			}

			code span.repository {
				color: #FFD54F;
			}
		</style>
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700" rel="stylesheet" />
	</head>
	<body>
		<header>
			<article>
				{{logotype}}
				<h1>{{title}} <var>{{version}}</var></h1>
				<h3>{{description}}</h3>
				<p>
					<a href="{{repositoryUrl}}/zipball/master">Download .zip</a>
					or
					<a href="{{repositoryUrl}}/tarball/master">Download .tar</a>
				</p>

				<code>
					<var>yarn</var>
					<span class="command">add</span>
					<span class="repository">{{repositoryUrl}}.git</span>
					<span class="flags">--save</span>
				</code>

				<p><a href="{{repositoryUrl}}" class="follow">Explore Github repository</a></p>
			</article>
		</header>
	</body>
</html>
